      
    <footer class="custom-footer">
        <div class="custom-container">
            <div class="custom-row">
                <div class="about-column">
                    <h6>Site credits</h6>
                    <p class="credits">
                        This site is created by students for students, from the accelarator programme from rgu, founders Rory Quinn-Bailie & Jeremy Arnold got their masters in physiotherapy and wanted to make university placements easier to navigate. 
                    </p>
                </div>
    
                <div class="categories-column">
                    <h6>Form</h6>
                    <ul class="footer-links">
                        <li><a href="/#signup__container">Sign up for an account</a></li>
                    </ul>
                </div>
    
                <div class="quick-links-column">
                    <h6>Links</h6>
                    <ul class="footer-links">
                        <li><a href="/#signup__container">Sign up</a></li>
                        <li><a href="/#forum">Forum</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="custom-container">
            <div class="custom-row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2024 PlacementHub</p>
                </div>
            </div>
        </div>
    </footer>