      
    <footer class="custom-footer">
        <div class="custom-container">
            <div class="custom-row">
                <div class="about-column">
                    <h6>Site credits</h6>
                    <p class="credits"><b>K</b>ept under ownership and run by the JP group,
                        <br> <b>O</b>bviously all movie titles, posters, characters belong to 
                        <br> <b>N</b>ot to us but their respective owners. We do not claim ownership
                        <br> <b>A</b>nd are using them under non-monetary reasons.
                        <br> <b>M</b>ovie information comes from an external API not from the JP group
                        <br> <b>I</b>ndividuals shown on the movie posters are not owned by us.
                        <div class="popup" onclick="popup1()">
                            Click <b>Here</b> to find out more
                            <span class="popuptext" id="myPopup">You asked for it ;)                                
                                <iframe width="600" height="337" src="https://www.youtube.com/embed/qb6LUQ2_8EI?" title="Cute Cats Hugging Compilation" frameborder="0" allow="autoplay" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </span>
                        </div>
                        
                    </p>
                </div>
    
                <div class="categories-column">
                    <h6>Form</h6>
                    <ul class="footer-links">
                        <li><a href="/#signup__container">Sign up for an account</a></li>
                    </ul>
                </div>
    
                <div class="quick-links-column">
                    <h6>Links</h6>
                    <ul class="footer-links">
                        <li><div class="popup" onclick="popup2()">About us
                            <span class="popuptext2" id="myPopup2">About us<br>
                                Cinemind is a website created under the JP group, The site is 
                                to people to discuss new movies and watch them together. Whether
                                the user is just discovering the briliance of film or the most 
                                avid cinephile, All are welcome here to indulge in the wonders of
                                Hollywood's creations.
                            </span></div></li>
                        <li><div class="popup" onclick="popup3()">Contact us
                            <span class="popuptext3" id="myPopup3">Contact information<br>
                                Here is our contact information. This is our only legitimate
                                email. Please send any queries or problems you discover on the site:
                                <br> <b>JPgCineminds@gmail.co.uk</b>
                            </span></div></li>
                        <li><a href="/#signup__container">Sign up</a></li>
                        <li><a href="/#movies">Movie lists</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="custom-container">
            <div class="custom-row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2024 JP Group</p>
                    <!-- Add the switch from the second footer here -->
                    <label class="switch">
                        <input type="checkbox" id="darkMode">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </footer>