<!--
    Created by Michael Piercey
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../../partials/head.ejs', { title: 'NHS Highland | PlacementHub', cssFiles: ['/styles/accommodationpages.css', '/styles/nav.css'], bootstrap: true, infolder: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../../partials/nav.ejs', { currentPage: 'NHS-Highland', infolder: true }) %>


<main role="main">

    <article class="card">
      <figure>
        <img src="../img/raigmore-accom.jpg" alt="Raigmore Accommodation ">
      </figure>
  
      <div class="flex-content">
         <u><h2>NHS Highland</h2></u>
        <h3>
            Raigmore Accommodation 
        </h3>
         <br>
        <ul>
          <li><strong title="Type">Cost:</strong> Approx £65 per week</li>
          <li><strong title="Location">Location:</strong> Highland</li>
          <li><strong title="Phone">Phone:</strong> 01463 704350</li>
        </ul>
        <p>
            Accommodation Details: 4 bed flats with shared kitchen, toilet room and bathroom. Kitchen only has the basics of fridge and cooker. Towels, bedding and toilet roll is provided. Linen is washed every Monday if left outside bedroom door in the morning. There is a laundry room in every block. The accommodation does not have wifi, however there is a library on site which you can get a temporary card and computer log in for. 
        </p>
        <p>
            General Comments: I would suggest emailing to ask for a booking form. The accommodation is across the carpark from Raigmore hospital. There is a Tesco and Aldi a 10/15 minute walk from the accommodation. There are bus stops outside the hospital that go into town. 
        </p>
        <footer>
            <div class="footer-content">
              <p>
                <a class="email-link" title="Email" href="mailto:UHB.RaigmoreAccommodation@nhs.net">Email</a>
              </p>
              <p class="address">
                Raigmore Hospital<br>
                Inverness<br>
                IV2 3UJ   
              </p>
            </div>
          </footer>
        </div>
    </article>

    <article class="card">
        <figure>
          <img src="../img/raigmore-accom.jpg" alt="Raigmore Accommodation ">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Nairn </h2></u>
          <h3>
              Raigmore Accommodation 
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> Owner is flexible regarding costs/arrangements            </li>
            <li><strong title="Location">Location:</strong> Nairn</li>
          </ul>
          <p>
              Accommodation Details: 2 x Double Ensuite Bedrooms available in owners home in Nairn
          </p>
          <p>
              General Comments: Owner can offer lift to the hospital each day, or use of a bike.
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Email" href="">Email</a>
                </p>
                <p class="address">

                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/wick-accom.jfif" alt="wick accom">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Wick</h2></u>
          <h3>
            Caithness and Sutherland
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> £135.88 per week + Admin Fee £25 + deep clean fee £36            </li>
            <li><strong title="Location">Location:</strong> Caithness and Sutherland</li>
            <li><strong title="Phone">Phone:</strong> 01463 704350</li>
          </ul>
          <p>
            Single, ensuite room with access to shared living room.  Laundry facilities available for around £3.00
          </p>
          <p>
            This accommodation is offered by the University of the Highlands & Islands - visit https://studentaccommodationuhi.co.uk/en/locations/dornoch for further details, and to complete an application and tenancy agreement.
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href=" https://studentaccommodationuhi.co.uk/en/locations/dornoch">Website</a>
                </p>
                <p class="address">

                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/bankstreet-accom.jfif" alt="Bank Street Lodge Accommodation">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Fort William</h2></u>
          <h3>
            Bank Street Lodge - close to Belford Hospital
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> Contact </li>
            <li><strong title="Location">Location:</strong> Fort William</li>
            <li><strong title="Phone">Phone:</strong> 01397 700070</li>
          </ul>
          <p>
            This accommodation is a Bunkhouse with private rooms - www.bankstreetlodge.co.uk 
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href=" www.bankstreetlodge.co.uk ">Website</a>
                </p>
                <p class="address">
                  BANK STREET LODGE <br>
                  Bank Street, Fort William<br>
                  Scotland. PH33 6AY
                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/belfordhosptial-accom.jpeg" alt="Belford Hospital Accommodation">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Fort William</h2></u>
          <h3>
            Room in Family Home in Caol
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> Contact </li>
            <li><strong title="Location">Location:</strong> Fort William</li>
            <li><strong title="Phone">Phone:</strong> 07733 763062</li>
          </ul>
          <p>
            Room in Family Home in Caol near Fort William, close to Belford Hospital
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href="  ">email</a>
                </p>
                <p class="address">

                </p>
              </div>
            </footer>
          </div>
      </article>

      
      <article class="card">
        <figure>
          <img src="../img/corpach-accom.webp" alt="corpach accommodation">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Fort William</h2></u>
          <h3>
            Twin Bed, Self Catering Accommodation
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> Contact </li>
            <li><strong title="Location">Location:</strong> Fort William</li>
            <li><strong title="Phone">Phone:</strong> 07769 342312 or 01397 772613</li>
          </ul>
          <p>
            Twin bed Self Catering accommodation in Corpach near Fort William - smoke and pet free
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href="  ">email</a>
                </p>
                <p class="address">

                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/alexandrahotel-accom.jifi" alt="The Alexandra Hotel">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Fort William</h2></u>
          <h3>
            The Alexandra Hotel
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> £35 per night </li>
            <li><strong title="Location">Location:</strong> Fort William</li>
            <li><strong title="Phone">Phone:</strong> 01397 702241</li>
          </ul>
          <p>
            Directly across from Belford Hospital. Offer Student Rate B&B at £35 per night.
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href="  ">email</a>
                </p>
                <p class="address">
                  Reception<br>
                  Parade<br>
                  Fort William<br>
                  PH33 6AZ                 
                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/innseaganhotel-accom.jfif" alt="Highland Hospital">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Fort William</h2></u>
          <h3>
            The Innseagan Hotel
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> Offers student rates </li>
            <li><strong title="Location">Location:</strong> Fort William</li>
            <li><strong title="Phone">Phone:</strong> 01397 698118</li>
          </ul>
          <p>
            There is currently no infromation on the type of accommodation.
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href="  ">email</a>
                </p>
                <p class="address">
                  Reception<br>
                  Achintore Road<br>
                  Fort William PH33 6RW
                            
                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/NHS-highland.jpg" alt="Highland Hospital">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Fort William</h2></u>
          <h3>
            Rosedene B&B
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> £35 per night </li>
            <li><strong title="Location">Location:</strong> Fort William</li>
            <li><strong title="Phone">Phone:</strong> 01397 702254</li>
          </ul>
          <p>
            Free parking/WIFI £35pn
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href="  ">email</a>
                </p>
                <p class="address">
                  Lundavra Road<br>
                  Fort William
                  
                            
                </p>
              </div>
            </footer>
          </div>
      </article>

      <article class="card">
        <figure>
          <img src="../img/NHS-highland.jpg" alt="Highland Hospital">
        </figure>
    
        <div class="flex-content">
           <u><h2>NHS Highland - Lochybridge</h2></u>
          <h3>
            Lonalva Self Catering cottage
          </h3>
           <br>
          <ul>
            <li><strong title="Type">Cost:</strong> Contact </li>
            <li><strong title="Location">Location:</strong> Lochybridge</li>
            <li><strong title="Phone">Phone:</strong> 01397 702600</li>
          </ul>
          <p>
            There is currenlty no accommodation information. 
          </p>
          <footer>
              <div class="footer-content">
                <p>
                  <a class="email-link" title="Website" href="  ">email</a>
                </p>
                <p class="address">
                            
                </p>
              </div>
            </footer>
          </div>
      </article>


    <article class="card">
        <figure>
          <img src="../img/Highland-ttd.jpg" alt="Highlands things to do"> 
        </figure>
        <div class="flex-content">
          <h2>
            Things to do while in the Highlands!
          </h2>
          <p>
            While on placement why dont you check out one of the local things to do?
          </p>
          <ul>
            <li><strong title="ttd">Catamaran Cruises:</strong> Seal island Cruise Tour</li>
            <li><strong title="ttd">Rail tour:</strong> Hogwarts Express and the Scenic Highland Day Tour from inverness</li>
            <li><strong title="ttd">Eco Tours:</strong> Rewilding walking tour at Dundreggan</li>
            <li><strong title="ttd">Craft Classes:</strong> 1 hour Bushcraft Fire Skills at Dundreggan</li>
          </ul>
        </div>
      </article>
  
  </main>

<%- include('../../partials/footer.ejs')%>

</body>

  <!-- links to bootstrap js and jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/scripts/accommodationpages.js"></script>

</html>
