<!--
    Created by Michael Piercey
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../../partials/head.ejs', { title: 'NHS Tayside | PlacementHub', cssFiles: ['/styles/accommodationpages.css', '/styles/nav.css'], bootstrap: true, infolder: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../../partials/nav.ejs', { currentPage: 'myaccount', infolder: true }) %>


<main role="main">

    <article class="card">
      <figure>
        <img src="../img/NHS-tayside.jpg" alt="Nike Shoes">
      </figure>
  
      <div class="flex-content">
         <h2>
          NHS Tayside
        </h2>
        <h3>
          Ninewells Nursing residence
        </h3>
         
        <ul>
          <li>
            <strong title="Type">Cost:</strong>
              Contact
          </li>
          <li><strong title="Location">Location:</strong> Ninewells Nurses Residence</li>
          <li><strong title="Contact">Contact:</strong> Wendy Valentine (Accommodation Officer)</li>
          <li><strong title="Phone">Phone:</strong> 01382 632107 Extension 32107</li>
        </ul>
        <p>
          Accommodation Details (e.g. self catering, shared facilities): Self catering single rooms with shared kitchen and sitting room facility
        </p>
        <footer>
            <div class="footer-content">
              <p>
                <a class="email-link" title="Email" href="">Email</a>
              </p>
              <p class="address">
                Residency Manager<br>
                Ninewells Hospital & Medical School<br>
                Dundee<br>
                DD1 9SY<br>
              </p>
            </div>
          </footer>
          
          
      </div>
  
    </article>
    
    <article class="card">
      <figure>
        <img src="../img/NHS-tayside.jpg" alt="Tapas"> 
      </figure>
      <div class="flex-content">
        <h2>
          NHS Tayside
        </h2>
        <h3>
          Ninewells residence 
        </h3>
  
        <ul>
          <li>
            <strong title="Type">Cost:</strong>
            £9 per night
          </li>
          <li><strong title="Location">Location:</strong> Tayside</li>
          <li><strong title="Phone">Phone:</strong> 01382 632107</li>
          <li><strong title="Phone">Phone:</strong> 01738 473207</li>
        </ul>
        <p>
          Accommodation Details (e.g. self catering, shared facilities): There are 6-8 Single rooms, shared facilities. £9 per night
          Very competitive so try to book early.
        </p>
        <footer>
            <div class="footer-content">
              <p>
                <a class="email-link" title="Email" href="">Email</a>
              </p>
              <p class="address">
                Accommodation Office<br>
                Ninewells Hospital<br>
                DUNDEE<br>
                DD1 9SY<br>
                
              </p>
            </div>
          </footer>
      </div>
    </article>

    <article class="card">
        <figure>
          <img src="../img/tayside-ttd.jpg" alt="Tapas"> 
        </figure>
        <div class="flex-content">
          <h2>
            Things to do while at Tayside!
          </h2>
          <p>
            While on placement why dont you check out one of the local things to do?
          </p>
          <ul>
            <li><strong title="ttd">Speciality Museums:</strong> Vist the V&A museum</li>
            <li><strong title="ttd">Speciality Museums:</strong> Explore the Discovery Point</li>
            <li><strong title="ttd">Farms:</strong> Vist the cute Balnuith Alpacas</li>
            <li><strong title="ttd">Sports Complexes:</strong> Have a splash at Olympia</li>
            <li><strong title="ttd">Parks:</strong> Relax at Camperdown Country Park</li>
          </ul>
        </div>
      </article>
  
  </main>

<%- include('../../partials/footer.ejs')%>

</body>

  <!-- links to bootstrap js and jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/scripts/accommodationpages.js"></script>

</html>
