<!--
    Created by Michael Piercey
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'accommodation | PlacementHub', cssFiles: ['/styles/accommodation.css', '/styles/nav.css'], bootstrap: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'accommodation'}) %>


<main class="main">

  <div class="accommodation-title">
    <h3>Welcome to the NHS accommodation page, below find your location and options for your accommodation!</h3>
    <h6><a href="/forum">Go to our accommodation forum here</a></h6>
</div>

<section class="home-cards">
  <div>
    <img class="accommodation-img" src="img/NHS-tayside.jpg" alt="">
    <div class="accommodation-option-cards">
    <h3>NHS Tayside</h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities):	Self catering single rooms with shared kitchen and sitting room facility
    </p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-shetland.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Shetland</h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities):	Accommodation has been arranged within the Montfield NHS Accommodation Block. Your room will have a single bed, wardrobe...</p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-highland.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Highland </h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities): 2 double ensuite bedrooms suitable for AHP students on placement in Nairn. 
    </p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-moray.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Grampian Moray Region </h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities):	Rooms with ensuite bathroom and access to seating area. Rooms have access to kitchenette... 
    </p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-tayside.jpg" alt="">
    <div class="accommodation-option-cards">
    <h3>NHS Tayside</h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities):	Self catering single rooms with shared kitchen and sitting room facility
    </p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-shetland.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Shetland</h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities):	Accommodation has been arranged within the Montfield NHS Accommodation Block. Your room will have a single bed, wardrobe...</p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-highland.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Highland </h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities): 2 double ensuite bedrooms suitable for AHP students on placement in Nairn. 
    </p>
    <a href="#">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-moray.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Grampian Moray Region </h3>
    <p>
      Accommodation Details (e.g. self catering, shared facilities):	Rooms with ensuite bathroom and access to seating area. Rooms have access to kitchenette... 
    </p>
    <a href="#">Learn More </a>
    </div>
  </div>
</section>

</main>



<%- include('../partials/footer.ejs')%>

</body>


  <!-- links to bootstrap js and jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/scripts/accommodation.js"></script>


</html>
