<!--
    Created by Michael Piercey
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'accommodation | PlacementHub', cssFiles: ['/styles/accommodation.css', '/styles/nav.css'], bootstrap: true, infolder: false }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'accommodation', infolder: false }) %>


<main class="main">

  <div class="accommodation-title">
    <h3>Welcome to the NHS accommodation page, below find your location and options for your accommodation!</h3>
    <h6><a href="/forum">Go to our accommodation forum here</a></h6>
</div>

<section class="home-cards">
  <div>
    <img class="accommodation-img" src="img/NHS-tayside.jpg" alt="">
    <div class="accommodation-option-cards">
    <h3>NHS Tayside</h3>
    <p>
      NHS Tayside includes accommodation at Ninewells nursing residences and ninewells residences. Also at the University of Abertay, West Park Villas and Perth Royal Infirmary.
    </p>
    <a href="/accommodation/NHS-tayside">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-shetland.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Shetland</h3>
    <p>
      NHS Shetland includes accommodation at Gilbery Bain Hospital, rooms will have a single bed.
      </p>
    <a href="/accommodation/NHS-shetland">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-highland.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Highland </h3>
    <p>
      NHS Highland covers a large area, including Raigmore Accommodation, Nairn, Lochybridge and Wick also Fort William with diffrent options avalible.
    </p>
    <a href="/accommodation/NHS-highland">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-moray.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Grampian Moray Region </h3>
    <p>
      NHS Grampian Moray Region includes multiple choices for accommodation, Maida View or Ardvorlich Guest House.
    </p>
    <a href="/accommodation/NHS-grampianmoray">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-grampian.jpg" alt="">
    <div class="accommodation-option-cards">
    <h3>
      NHS Grampian 
      </h3>
    <p>
      NHS Grampian has Josies house avalible to stay with good transport links.
    </p>
    <a href="/accommodation/NHS-grampiann">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-glasgow-and-clyde.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Glasgow & Clyde </h3>
    <p>
      NHS Glasgow & Clyde has locations in glasgow close to the University, plus other options such as Havannah House.
      </p>
      <a href="/accommodation/NHS-glasgow-and-clyde">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-lanarkshire.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Lanarkshire </h3>
    <p>
      NHS Lanarkshire has Ravenstruther which has a double bedroom with access to your own bathroom.
    </p>
    <a href="/accommodation/NHS-lanarkshire">Learn More </a>
    </div>
  </div>
  <div>
    <img class="accommodation-img" src="img/NHS-borders.jpg" alt="" />
    <div class="accommodation-option-cards">
    <h3>NHS Borders  </h3>
    <p>
      NHS Borders has Tara, Woodenmill for accommodation, which includes self catering single room. 
    </p>
    <a href="/accommodation/NHS-borders">Learn More </a>
    </div>
  </div>
</section>

</main>



<%- include('../partials/footer.ejs')%>

</body>


  <!-- links to bootstrap js and jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/scripts/accommodation.js"></script>


</html>
