<!--
    Created by Michael Piercey
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'Post (name) | PlacementHub', cssFiles: ['/styles/forumpages.css', '/styles/nav.css'], bootstrap: true, infolder: false  }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'Post (name)', infolder: false }) %>


<main class="main">


        <div class="main-cards">
            <div class="card">
                <!-- Post content (same as before) -->
                <div class="user-info">
                  <img src="img/user1.jpg" alt="User Photo" class="user-photo" />
                  <div class="user-details">
                    <p class="user-name">John Doe</p>
                    <p class="user-course">Computer Science</p>
                  </div>
                  <p class="post-date">October 16, 2024</p>
                </div>
                <div class="divider"></div>
                <p class="post-title">How to implement a login system in Node.js?</p>
                <div class="post-actions">
                  <button class="upvote">Upvote</button>
                  <button class="downvote">Downvote</button>
                  <button class="comment">Comment</button>
                </div>
              
                <!-- Reply Section -->
                <div class="reply-section">
                  <!-- Comments Header -->
                  <div class="comments-header">
                    <p class="comments-count">12 Comments</p>
                    <div class="comments-filter">
                      <button>Top Comments</button>
                      <button>Newest Comments</button>
                    </div>
                  </div>
              
                  <!-- First Reply -->
                  <div class="reply-card">
                    <!-- User Info for reply -->
                    <div class="user-info">
                      <img src="img/user2.jpg" alt="User Photo" class="user-photo" />
                      <div class="user-details">
                        <p class="user-name">Jane Smith</p>
                        <p class="user-course">Software Engineering</p>
                      </div>
                      <p class="post-date">October 16, 2024</p>
                    </div>
                    <div class="divider"></div>
              
                    <!-- Comment Content -->
                    <div class="comment-content">
                      <p>This is a great question. I found using Passport.js really useful for implementing authentication in Node.js.</p>
                      <img src="img/tayside-ttd.jpg" alt="Attached Image" class="comment-image" />
                    </div>
              
                    <!-- Comment Actions -->
                    <div class="comment-actions">
                      <button class="upvote">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                          <path d="M8 0L16 10H0L8 0z"></path>
                        </svg>
                        Upvote
                      </button>
                      <button class="downvote">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                          <path d="M8 10L0 0h16L8 10z"></path>
                        </svg>
                        Downvote
                      </button>
                      <button class="reply">Reply</button>
                    </div>
                  </div>
              
                  <!-- Additional replies follow the same structure -->
                </div>
              </div>
              
        </div>


</main>



<%- include('../partials/footer.ejs')%>

</body>


  <!-- links to bootstrap js and jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/scripts/forumpost.js"></script>


</html>
