<!--
    Created by Michael Piercey 2206222 -- finalised 11/12/23
-->

<!DOCTYPE html>
<html lang="en">

<!-- Include the head -->
<%- include('../partials/head.ejs', { title: 'Cinemind | Home', cssFiles: ['/styles/home.css', '/styles/nav.css', '/styles/signup.css'], bootstrap: true }) %>


<body>

<!-- Include the navbar -->
<%- include('../partials/nav.ejs', { currentPage: 'index'}) %>

<div id="notLoggedInAlert" class="alert" style="display: none;">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  You are not logged in. Please log in to access this content.
  <button onclick="window.location.href='/#signup__container';" class="account-button">Login</button>
</div>

<div class="custom-carousel">
  <div id="exampleCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item custom-slide-one active">
              <img src="https://via.placeholder.com/800x400?text=Slide+1" class="d-block w-100" alt="Slide 1">
              <div class="carousel-caption d-none d-md-block">
                  <h5>First Slide</h5>
                  <p>This is the description for the first slide.</p>
              </div>
          </div>
          <div class="carousel-item custom-slide-two">
              <img src="https://via.placeholder.com/800x400?text=Slide+2" class="d-block w-100" alt="Slide 2">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Second Slide</h5>
                  <p>This is the description for the second slide.</p>
              </div>
          </div>
          <div class="carousel-item custom-slide-three">
              <img src="https://via.placeholder.com/800x400?text=Slide+3" class="d-block w-100" alt="Slide 3">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Third Slide</h5>
                  <p>This is the description for the third slide.</p>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#exampleCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#exampleCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

 

    </div>


    <div class="signup__container" id="signup__container">
      <div class="signup__form">
        <h1>placement hub signup</h1>
        <h2 class="form-heading">Register</h2><br>
        <form action="/adduser" method="POST">
            <div class="form-group">
                <label for="first">First Name</label><br> <!-- Changed label text and id -->
                <input class="form-control" type="text" name="first" id="first" placeholder="Michael" required> <!-- Updated name attribute -->
            </div>
            <div class="form-group">
                <label for="username">Username</label><br>
                <input class="form-control" type="text" name="username" id="username" placeholder="michael.piercey" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label><br>
                <input class="form-control" type="email" name="email" id="email" placeholder="michael@rgu.ac.uk" required> <!-- Changed type to email -->
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input class="form-control" type="password" name="password" id="password" placeholder="********" required>
            </div>
            <div class="form-group">
                <button class="btn btn--form" type="submit">Register</button>
            </div>
        </form>
        <p class="login-link">Already a member? <button id="toggleLogin" class="toggle-btn" onclick="toggleToLogin()">Login here!</button></p>
    </div>
    
      </div>
      <div class="login__container" id="login__container">
        <div class="signup__form">
          <h2 class="form-heading">Login</h2><br>
          <form action="/dologin" method="POST">
            <div class="form-group">
              <label for="username">Username</label><br>
              <input class="form-control" type="text" name="username" id="loginusername" placeholder="michael.piercey" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label><br>
              <input class="form-control" type="password" name="password" id="loginpassword" placeholder="********" required>
            </div>
            <div class="form-group">
              <button class="btn btn--form" type="submit">Login</button>
            </div>
          </form>
          <p class="login-link">Dont have an account?    <button id="toggleLogin" class="toggle-btn" onclick="toggleToSignup()">Sing up now!</button></p>
        </div>
      </div>
    
    <h1 id="movies">Top 20 trending movies at the moment</h1>
    <div class="movie_card_container">
        <!-- top trending movies are inputed here from js -->
        <!-- movie review cards are also placed here just inside the card above -->
        <div class="movie_cards">
            
            </div>

    </div>
    
    <%- include('../partials/footer.ejs')%>
    
    
    <!-- links to bootstrap js and jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- scripts for this page eg get serach and movie cards -->
    <script src="scripts/home.js"></script>
    <script src="scripts/easterEgg.js"></script>
</body>

</html>
