body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  .main-header {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #e3e4e6;
    color: slategray;
    width: 80%; /* Set header width to 80% */
    text-align: center; /* Center align text */
    margin: 0 auto; /* Center the header */
    margin-top: 20px;
  }
  
  /* Styling for the title */
  .main-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: slategray;
    }

  .main-cards {
    margin: 20px auto; /* Center the entire card section */
    width: 80%; /* Set main cards to 80% width */
    column-count: 1; /* Single column */
    column-gap: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    margin: 0 auto; /* Center each individual card */
    margin-top: 25px;
  }
  
  /* Force varying heights to simulate dynamic content */
  .card {
    height: 200px;
  }
  
