body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  /* Assign grid instructions to our parent grid container, mobile-first */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
    justify-content: center;
  }
  
  .main-header {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #e3e4e6;
    color: slategray;
  }
  
  /* Styling for the title */
  .main-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: slategray;
  }
  
  .main-overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #d3d3;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }
  
  .overviewcard:hover {
    background-color: #c3c3c3;
  }
  
  .overviewcard__info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .active {
    display: block;
  }
  
  .main-cards {
    margin: 20px;
    width: 75%; /* Restrict width to 60% of the body */
    column-count: 1; /* Single column */
    column-gap: 20px;
    align-items: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }
  
  /* Force varying heights to simulate dynamic content */
  .card {
    height: 200px;
  }
  
