/*
    Created by Jonathan Boyd 2207435 -- finalised 10/12/23
*/


body {
  background-color:lightgrey;
  }
  
  /*content for the groupChat page*/
  .gcGroups {
  padding-left: 10px;
  float:left;
  width: 15%;
  background-color: #D1E8E2;
  display: block;
  height: 100vh;
  }
  .addGroup{
    height: 10%;
    width: 90%;
    padding-left: 5px;
    line-height: 50px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .group1{
    height: 10%;
    width: 90%;
    padding-left: 5px;
    line-height: 50px;
    background-color: grey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
  }

  /*for the new groups the user can create*/
  .group1a{
    height: 10%;
    width: 90%;
    padding-left: 5px;
    line-height: 50px;
    background-color: grey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    display: none;
  }

/* for the channels same as above really*/
  .channel{
    padding-left: 10px;
    float:left;
    width: 15%;
    height: 100vh;
    background-color: #A9D6E5;
  }
  .addChannel{
    height: 10%;
    width: 90%;
    padding-left: 5px;
    line-height: 50px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .channel1{
    height: 10%;
    width: 90%;
    padding-left: 5px;
    line-height: 50px;
    background-color: grey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
  }
  
  /* for the right side the group interactions part*/
  .gcDms {
    padding-left: 10px;
    float:right;
    width: 68.3%;
    height: 100vh;
    background-color: #19747E;
    display: flex;
  }

  /*The little pus image in the add groups/channels*/
  .plus{
    padding-top: 3px;
    height: 30px;
    width: 30px;
    display:inline;
  }

  /* button styles*/
  .buttonG{
    background-color: grey;
    border: none;
    height: 20px;
  }
  button{

  border: none;
  }

  /* form styes*/
  .formForGroups{
    padding: 10px;
    height: 150px;
    width:300px;
  }
  .formForGroups2{
    padding: 10px;
    height: 150px;
    width:300px;
  }

/*The main section on the right hand side of the page's styles*/
  .mainSection{
    background-color: #19747E;
  }

  .part1{
    background-color: #E2E2E2;
    padding-left: 5px;
    height: 100px;
    width: 700px;
    border-radius: 15px;
  }
  .part2{
    background-color: #E2E2E2;
    height: 100px;
    padding-left: 5px;
    width: 700px;
    border-radius: 15px;
  }

  .merged{
    height: 200px;
    width: 700px;
    float:left;
  }

  .personalWatchlist{
    background-color: #E2E2E2;
    height: 100px;
    padding-left: 5px;
    width: 700px;
    border-radius: 15px;
  }
  .groupWatchlist{
    background-color: #E2E2E2;
    height: 100px;
    padding-left: 5px;
    width: 700px;
    border-radius: 15px;
  }

  .chat{
    margin-top: 18px;
    background-color: #E2E2E2;
    height: 200px;
    width: 700px;
    padding-left: 5px;
    padding-top: 2px;
    border-radius: 15px;
  }