.carousel-item{
  max-height: 650px;
  min-height: 650px;
}

.custom-carousel .carousel-caption h5,
.custom-carousel .carousel-caption p {
    font-family: 'Roboto', sans-serif; /* Use the imported font */
    font-weight: bold; /* Make the text bold */
    color: white; /* Set text color to white */
    text-shadow:
    -1.5px -1.5px 0px black,
    1.5px -1.5px 0px black,
    -1.5px 1.5px 0px black,
    1.5px 1.5px 0px black;
}

.custom-carousel .carousel-caption h5 {
    font-size: 2.5rem; /* Adjust size as needed */
}

.custom-carousel .carousel-caption p {
    font-size: 1.25rem; /* Adjust size as needed */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}