/*
    Created by Michael Piercey 2206222 -- finalised 08/12/23
*/
  .custom-row {
    display: flex;
  }
  
  .custom-footer {
    background-color: cornflowerblue;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-colour3);
    margin-top: auto;
    padding-left: 5px;
  }
  
  .custom-footer h6 {
    color: var(--text-colour3);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-links a {
    color: var(--text-colour2);
    text-decoration: none;
  }
  
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: var(--text-colour1);
  }
  
  /* Custom styles for column widths */
  .about-column {
    flex: 40%;
  }

  .credits{
    width: 80%;
  }
  
  .categories-column,
  .quick-links-column {
    flex: 30%;
  }
  
  .navbar {
    background-color: cornflowerblue;
    overflow: hidden;
  }

  .navtitle {
    color: white;
    margin-right: 30%;
  }
  
  .navbar-logo {
    float: left;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .navbar-logo img {
    height: 70px; 
  }

  .navbar-search {
    float: right;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .search-bar {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .account-button {
    margin-left: 10px;
    padding: 8px;
    background-color: black;
    color: grey;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .navbar-links {
    background-color: black;
    overflow: hidden;
  }
  
  .navbar-links a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    background-color: red;
    color: forestgreen;
  }

  @media screen and (max-width: 768px) {
    .custom-row {
        flex-direction: column;
    }
    
    .custom-footer {
        text-align: center; 
    }

    .credits {
      width: 100%;
    }
    
    .footer-links {
        margin-top: 15px; 
    }
    
    .custom-container {
        padding: 0 15px; 
    }
}

